#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.0
Name=LALALAYLALA
Comment=The best game ever made.
Path=/home/lionel/Desktop/Programing/sdl/
Exec=/home/lionel/Desktop/Programing/sdl/game
Icon=/home/lionel/Desktop/Programing/sdl/img/icon.png
Terminal=false
Categories=Games;
Name[en_US]=Minigame
